.content-wrapper {
    padding: 40px 80px;
}

.content-detail {
    display: flex;
    justify-content: space-between;
}

.content-detail .paragraph {
    width: 60%;
    padding: 20px;
}

.content-detail .galery {
    width: 40%;
    padding: 20px;
}

.content-detail .paragraph h2 {
    font-weight: bolder;
}

.content-detail .paragraph h6 {
    color: #BDBDBD;
}

.content-detail .galery .image img {
    width: 100%;
}

.mini-galery {
    display: flex;
    justify-content: left;
}

.mini-galery img {
    width: 69px !important;
    height: 69px !important;
    border-radius: 13px;
    margin-right: 15px;
}

.charity-target {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.charity-target h3 {
    font-style: normal;
    font-weight: bold;
    line-height: 24px;

    color: #4D80E4;
}

.charity-target p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #B0AAAA !important;
}

.status {
    display: flex;
    padding: 20px;
}

progress {
    color: #4d80e4;
    background: #4d80e4;
    border-radius: 50%;
    width: 100%;
    height: 10px !important;
}

progress::-webkit-progress-value {
    background: #4d80e4;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    background: #e5e5e5;
    border-radius: 20px;
}

.status-progress {
    display: block;
    width: 50%;
}

.status-status {
    text-align: right;
    display: block;
    width: 50%;
}

.donation-list {
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    margin: 20px;
    max-height: 450px !important;
    overflow-y: auto;
}

.donation-list::-webkit-scrollbar-thumb {
    background: #4D80E4;
}

.donation-list::-webkit-scrollbar-track {
    background: #c1c1c1;
}

.donation-list::-webkit-scrollbar {
    width: 10px;
}

.donation-list h3 {
    padding-left: 34px;
    padding-top: 11px;
    font-weight: bolder;
}

.donation {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
}

.donation p {
    width: 33%;
}

.donation-list hr{
    margin: 0 auto !important;
}

#btn-edit {
    background: #E7E7E7;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    outline: none;
    border: none;
    padding: 10px 50px;
    font-weight: bold;
}

#btn-delete {
    background: #F24444;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    outline: none;
    border: none;
    color: white;
    padding: 10px 46px;
    font-weight: bold;
}